:root {
  --main-bg-color: #323741;
  --card-bg-color: #bebba8;
  --main-txt-color: #F4EDEA;
  --main-btn-color: #363e4d;
  --callout-txt-color: brown;
  --btn-hover-color: #475164;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 125px;
}

button {
  background-color: var(--main-btn-color);
  color: var(--main-txt-color);
  border: 0;
  border-radius: 5px;
  width: 90%;
  height: 50px;
  margin: 1%;
  font-size: inherit;
}

button:hover {
  background-color: var(--btn-hover-color)
}

button:active {
  background-color: var(--btn-hover-color);
  transform: translateY(2px);
}

.wrapper {
  min-height: calc(100vh - 70px);
}

.title {
  display: block;
  margin-bottom: -5%;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: var(--main-txt-color);
}

.callout {
  display: block;
  height: 50px;
  margin: 5%;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  color: var(--callout-txt-color);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: inline-block;
  font-size: x-large;
  padding: 20px;
  text-align: center;
  align-content: center;
  border-radius: 30px;
  background-color: var(--card-bg-color);
  margin: 10px;
  min-width: 250px;
  box-shadow: 0 10px #666;
}

.footer {
  background-color: rgb(27, 27, 27);
  height: 70px;
  font-size: xx-large;
  text-align: center;
}
